* {
  box-sizing: border-box;
}

body {
  margin:0;
  background: #323232;
}

.firstpage {
  height: 100vh;
  background: #202124;
}

footer {
  height: 140px;
  background: #323232;
}

.summary {
  height: 100vh;
  overflow: auto;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background: #3A0002;
  color: white;
}

.summary h1 {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}

.summary h2 {
  padding: 10px 100px;
  color: #B8B8B8;
}

.introduction {
  height: 100vh;
  overflow: auto;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background:#1b2943;
}

.introduction h1 {
  padding-top: 80px;
  /* padding-left: 100px; */
  text-align: center;
  padding-bottom: 20px;
  color: #B8B8B8;
}

.introduction h2 {
  padding-top: 10px;
  text-align: center;
  color: #B8B8B8;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.summary::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.introduction::-webkit-scrollbar {
    display: none;
}

.slides {
  width: 100%;
  height: 100%;
  background: #202124;
}

.slides img {
  width: 100%;
  height: calc(100% - 400px);
  background: #202124;
}

.logo {
  height: 400px;
  display: flex;
  justify-content: center;
  background: #1b2943;
}

.logo img {
  background: #1b2943;
  padding-top: 70px;
  width: 400px;
  height: 400px;
  padding-bottom: 10px;
}

body {
  margin: 0;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #323232;
}

nav ul {
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

nav a {
  display: block;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #B8B8B8;
}

.Nav {
  max-width: 980px;
  margin: 0 auto;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

.introduction .column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row h2 {
  text-align: center;
}

.section {
  height: 100vh;
  width: 100%;
  background-color: #3A0002;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}

.mail {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  color: black;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.mail_form {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.mail_form input,
.mail_form textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

.textarea {
  resize: vertical;
}

button {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: 'Montserrat';
  color: #3A0002;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: .3s ease background-color;
}

button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}

#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@media screen and (max-width: 600px) {
  .introduction .column {
    float: left;
    width: 100%;
  }
  .column {
    width: 100%;
  }
}